@using AnimalShop.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-left" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.jpg" width="90" height="50" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="nav nav-tabs flex-grow-1">
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                Dogs
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item text-dark" asp-controller="Dogs" asp-action="Food"><i class="fa fa-bone" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Dogs" asp-action="House"><i class="fa fa-house-damage" style="margin-right: 4px"></i>Houses</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Dogs" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Dogs" asp-action="Bowl"><i class="fa fa-ring" style="margin-right: 4px"></i>Bowls</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Dogs" asp-action="Accessories"><i class="fa fa-cog" style="margin-right: 4px"></i>Accessories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                Cats
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item text-dark" asp-controller="Cats" asp-action="Food"><i class="fa fa-fish" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Cats" asp-action="House"><i class="fa fa-house-damage" style="margin-right: 4px"></i>Houses</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Cats" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Cats" asp-action="Bowl"><i class="fa fa-ring" style="margin-right: 4px"></i>Bowls</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Cats" asp-action="Accessories"><i class="fa fa-cog" style="margin-right: 4px"></i>Accessories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                Birds
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item text-dark" asp-controller="Birds" asp-action="Food"><i class="fa fa-cookie" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Birds" asp-action="Cage"><i class="fa fa-home" style="margin-right: 4px"></i>Cages</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Birds" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Birds" asp-action="Bottle"><i class="fa fa-bong" style="margin-right: 4px"></i>Bottles</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Birds" asp-action="Accessories"><i class="fa fa-cog" style="margin-right: 4px"></i>Accessories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                Fishes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item text-dark" asp-controller="Fishes" asp-action="Food"><i class="fa fa-cookie" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Fishes" asp-action="Aquarium"><i class="fa fa-fish" style="margin-right: 4px"></i>Aquariums</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Fishes" asp-action="Accessories"><i class="fa fa-cog" style="margin-right: 4px"></i>Accessories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                SmallPets
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header font-weight-bold">Hamsters</li>
                                <li><a class="list-group-item text-dark" asp-controller="Hamsters" asp-action="Food"><i class="fa fa-drumstick-bite" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Hamsters" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Hamsters" asp-action="Cage"><i class="fa fa-home" style="margin-right: 4px"></i>Cages</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header font-weight-bold">Chinchillas</li>
                                <li><a class="list-group-item text-dark" asp-controller="Chinchillas" asp-action="Food"><i class="fa fa-drumstick-bite" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Chinchillas" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Chinchillas" asp-action="House"><i class="fa fa-house-damage" style="margin-right: 4px"></i>Houses</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header font-weight-bold">Rabbits</li>
                                <li><a class="list-group-item text-dark" asp-controller="Rabbits" asp-action="Food"><i class="fa fa-carrot" style="margin-right: 4px"></i>Food</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Rabbits" asp-action="Toy"><i class="fa fa-basketball-ball" style="margin-right: 4px"></i>Toys</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Rabbits" asp-action="House"><i class="fa fa-house-damage" style="margin-right: 4px"></i>Houses</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="Rabbits" asp-action="Bottle"><i class="fa fa-bong" style="margin-right: 4px"></i>Bottles</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                PetAdvices
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item text-dark" asp-controller="PetAdvices" asp-action="Dog"><i class="fa fa-dog" style="margin-right: 4px"></i>Dogs</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="PetAdvices" asp-action="Cat"><i class="fa fa-cat" style="margin-right: 4px"></i>Cats</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="PetAdvices" asp-action="Bird"><i class="fa fa-dove" style="margin-right: 4px"></i>Birds</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="PetAdvices" asp-action="Fish"><i class="fa fa-fish" style="margin-right: 4px"></i>Fishes</a></li>
                                <li><a class="list-group-item text-dark" asp-controller="PetAdvices" asp-action="SmallPet"><i class="fa fa-otter" style="margin-right: 4px"></i>SmallPets</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
                        </li>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" href="#">
                                    Create
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="list-group-item text-dark" asp-area="Administration" asp-controller="Administration" asp-action="CreateFood">Food</a></li>
                                    <li><a class="list-group-item text-dark" asp-area="Administration" asp-controller="Administration" asp-action="CreateProduct">Product</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-center" style="margin-top: 10px; margin-left: 45px">
                                <a class="text-dark" href="/Home/MyCart"><span style="font-size: 1em" class="text-dark text-right"><i class="fa fa-cart-plus fa-lg"></i></span>     My Cart</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <i class="fa fa-calendar-day" style="margin-right: 10px"></i>@DateTime.Now - <a asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -
            <a asp-area="" asp-controller="Contacts" asp-action="Index">Contact us</a>
            <button style="border-radius: 50%; float: right; margin-top: 10px" class="btn btn-outline-dark btn-xs" onclick="topFunction()" id="myBtn"><i class="fa fa-arrow-up"></i></button>
        </div>
    </footer>

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        function topFunction() {
            document.documentElement.scrollTop = 0;
        }
    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
>