@model AnimalShop.Web.ViewModels.Orders.OrderViewModel
@using AnimalShop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var fullName = user.FirstName + " " + user.LastName;
    var address = user.City + ", " + user.Address;
}

    <tr>
        <td>@Model.Id.</td>
        <td>@fullName </td>
        <td>@address</td>
        <td>@user.PhoneNumber</td>
        <td>@Model.Price</td>
        <td>@Model.Status</td>
    </tr>

<style>
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: snow;
    }
</style>
